

div {
  padding: 5px;
}

h1 {
  color: #008CBA; 
  font-size: 32px; 
  font-weight: 300; 
}

h1, label {
  font-family: 'Times New Roman', Times, serif;
}

label {
  color: #dfdede;
}

input {
  width: 10%;
  border: 1px solid rgb(59, 59, 59);
  background-color: black;
  color: #dfdede;
  height: 15px;
  padding: 5px 10px 5px 5px;
  margin-left: 10px;
  border-radius: 3px; 
}

input:focus {
  outline: none !important;
  border: 1px solid #dfdede;
  box-shadow: 0 0 3px #dfdede
}

select {
  border: 1px solid rgb(59, 59, 59);
  background-color: black;
  color: #dfdede;
  padding: 5px 10px 5px 5px;
  margin-left: 10px;
  border-radius: 3px; 
}

select:focus {
  outline: none !important;
  border: 1px solid #dfdede;
  box-shadow: 0 0 3px #dfdede
}

option {
  color: #dfdede;
}

.centered {
  display: flex;
  justify-content: center;
}

#btn-connect, #btn-disconnect {
  outline: none;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 20px;
}

#btn-connect {
  background-color: #008CBA; 
}

#btn-disconnect {
  background-color: rgb(245, 11, 11);
}

#btn-connect:active, #btn-disconnect:active {
  opacity: 0.8;
}

.box-log {
  margin-top: 20px;
  background-color: #1f1f1f;
  color: rgb(168, 168, 168);
  height: 310px;
  border-radius: 3px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
}